<div class="page-content-wrapper">
    <div class="page-content">
      <div class="container">
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
          <div class="row">
            <div class="col-sm-12">
              <div class="section-container">
                <div class="section-title page-header">
                  <h1 class="pull-left">Company / Supplier Administration</h1>
                  <div class="toolbar pull-right">
                    <a class="btn btn-primary mt20" [routerLink]="['/company/create']">
                      Add
                    </a>
                  </div>
                  <div class="">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                  <div class="clearfix"></div>
                </div>
  
                <div class="section-body">
                  <div class="table-responsive">
                    <table
                      class="table row-border hover"
                      [mfData]="companyList"
                      #mf="mfDataTable"
                      [mfRowsOnPage]="10">
                      <thead>
                        <tr>
                          <th>No.</th>
                          <th>
                            <mfDefaultSorter by="fname">Customer No</mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="username">Supplier No</mfDefaultSorter
                            >
                          </th>
                          <th>
                            <mfDefaultSorter by="adminRoles">Company name</mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="internalRoles">Company short name</mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="doaRoles">QMS</mfDefaultSorter>
                          </th>
                          <th>
                            <mfDefaultSorter by="poaRoles">Active</mfDefaultSorter>
                          </th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let company of mf.data; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>{{ company.customer_internalC }}</td>
                          <td>{{ company.customer_internalS  }}</td>
                          <td>{{ company.company_name }}</td>
                          <td>{{ company.company_short_name }}</td>
                          <td>{{ company.qms[0].value }}</td>
                          <td>{{ company.active ? "Yes" : "No" }}</td>
                          <td>
                            <a
                              [routerLink]="['/company/update', company._id]"
                              type="button"
                              class="btn btn-primary mr5"
                            >
                              Edit
                            </a>
  
                            <button type="button" class="btn btn-danger">
                              Delete
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="9">
                            <mfBootstrapPaginator
                              [rowsOnPageSet]="[5, 10, 25]"
                            ></mfBootstrapPaginator>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>