.pull-left.aircraft {
    float: none !important;
    display: inline-block;
}
label{
    font-size: 14px;
}
.status_btn{
    margin-top:2.5rem;
}
.mr8{
    margin-right: 8px;
}
.cusyscroll{
    overflow-y: auto;
    max-height: 400px;
}