<main role="main" class="container-fluid">
  <div class="row mt60 mb30">
    <div class="col-md-4 col-md-offset-4 text-center">
      <div class="fn-wh fw20 mb30">
        <strong>
          WELCOME TO SKYTEC
        </strong>
      </div>
      <img src="assets/images/login-logo.png" />
    </div>
  </div>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container-fluid">
    <div class="clearfix"></div>
    <div class=" fn-wh text-center text-muted" >
      <p>@{{ year }}, Skytec, Inc.</p>
      <div class="fw-b">
        Powered By <img src="assets/images/logo-tranc.png" />
      </div>
    </div>
  </div>
</footer>
